.main-container {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.welcome-header {
    font-size: 36px;
    font-family: "Creative Vintage Regular", sans-serif;
}

.input-section {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input {
    padding: 10px;
    border: none;
    border-radius: 5px;
    outline: none;
    width: 250px;
}

.main-btn {
    padding: 10px 20px;
    background-color: #f0d09c;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.main-btn:hover {
    background-color: #e8c585;
}
