nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0d09c;
    height: 60px;
    font-size: 24px;
    font-family: 'Creative Vintage Regular'
  }
  
  nav a {
    margin: 0 15px;
    text-decoration: none;
    color: rgb(5, 82, 74);
    transition: color 0.3s;
  
    &:hover {
      color: #005e5e;
    }
  }