body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: 'Times New Roman', Times, serif;
}

.app {
  background: url('./images/LOTR Main Background.jpeg') no-repeat center center fixed;
  background-size: cover;
  min-height: 100vh;
  color: #f4e4d3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.app-header {
  font-size: calc(15px + 2vmin);
  margin-bottom: 30px;
  border: 3px solid #d2b48c;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.6);
}

.pomodoro-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.pomodoro-button {
  border: none;
  padding: 15px 30px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 18px;
  background-color: #d2b48c; /* A tan color reminiscent of parchment */
  color: #3d2917; /* A deep brown */
  transition: background-color 0.3s ease;
  box-shadow: 2px 2px 4px #000;
}

.pomodoro-button:hover {
  background-color: #b69b72;
}

